*.iml
*.VC.DB
*errors.txt
.gradle
.DS_Store*
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
__pycache__
Icon?
local.properties
build
captures
app/src/main/libs
app/src/main/obj
/draft.keystore
/gradle
ehthumbs.db
Thumbs.db